* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: Helvetica;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#06080f, #0e3146);
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  position: sticky;
  top: 0;
  background: linear-gradient(
    45deg,
    #06080f,
    #06080f,
    #06080f,
    #79d5ca,
    #79d5ca
  );
  padding: 5px 120px;
  z-index: 9999;
}

header {
  display: flex;
  padding: 50px 150px 5px;
  gap: 80px;
  justify-content: center;
  margin-bottom: 50px;
}

main {
  display: flex;
  flex-flow: column wrap;
  padding: 5px 150px;
  gap: 80px;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

footer {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  padding: 5px 150px;
  gap: 15px;
}

footer section {
  display: flex;
  gap: 25px;
}

footer section div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

/*------ Nav ------*/

/*------ Header ------*/

#profile img {
  display: block;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #a5ece0;
  box-shadow: 0px 0px 50px #a5ece0;
}

#about-me {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 5px;
  flex: 1;
}

h1 {
  font-size: 36px;
}

.strong {
  font-family: "IosevkaTerm Nerd Font";
  font-size: 24px;
}

#blue {
  color: #a5ece0;
}

#gold {
  color: #e0c15a;
}

/*------ Main ------*/

#skills {
}
